div.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* *
 * *
  HEADER
  * *
  * */

div .main-container header {
  width: 100%;
  height: 80px;

  padding: 5px 30px 5px 30px;

  background: var(--primary-color);
  border-bottom: 2px solid var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container header div.menu {
  align-items: center;
  display: flex;
}

.main-container header div.menu a img {
  height: 100px;
  width: 100px;
  padding-top: 20px;
  margin-right: 25px;
}

.main-container header div.menu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.main-container header div.menu ul li {
  margin-left: 20px;
  color: #FFF;
  font-weight: bold;
}

.main-container header div.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}

.main-container header div.menu ul li a:hover {
  border-bottom: 3px solid white;
  color: var(--title-color);
  transition: 0.1s;
}

.main-container header div.for-contact a {
  height: 40px;
  width: 110px;
  min-width: 85px;

  padding: 10px;
  border-radius: 8px;

  background: white;

  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);

  text-decoration: none;

  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.main-container header div.for-contact a:hover {
  background: #fEfEfE;
  box-shadow: none;
}

/* *
 * *
  BODY - MAIN
  * *
  * */

main#main-info {
  width:100%;
  max-width: 995px;

  /* height: 1000px; */

  background: var(--container-color);
  border-radius: 8px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, .2);

  margin: 50px 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

section.company-details {
  /* height: 100%; */
  /* max-height: 500px; */

  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* *
 * *
  INFORMATION
  * *
  * */

.company-details div.information {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  flex-basis: 500px;
}

/* *
 * *
  HEADER COMPANY
  * *
  * */

.company-details .information .header-company {
  display: flex;
  justify-content: flex-start;

  height: 95px;
  /* max-height: 144px; */
  /* width: 350px; */
  /* max-width: 300px; */

  padding-left:30px;

}

.header-company img {
  width: 65px;
  height: 75px;

  border-radius: 35%;
}

.header-company #logo-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  padding-left: 20px;
}

.header-company #logo-title h4 {
  color: var(--title-color);
  font-weight: bold;
  font-size: 25px;
}

.header-company #logo-title span {
  padding-left: 20px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}

.company-details .information hr {
  border: 0.3px solid #C5C5C5;
}

/* *
 * *
  FOR CONTACT
  * *
  * */

.company-details .information .contact {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.company-details .information .contact .contact-string {
  align-self: flex-start;
  padding: 20px 15px 15px 15px;
}

.contact-string h4 {
  color: var(--title-color);
  height: 100%;
  max-width: max-content;
  font-size: 18px;
}

.contact-string  div.contact-datas {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 200px;
  margin: 25px 0px 20px 15px;

  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
}

.contact-string  div.contact-datas table {
  /* height: 100%; */
  height: 100px;
}

.contact-string  div.contact-datas tr {
  margin-top: 15px;
  margin-bottom: 20px;
}

.contact-string  div.contact-datas th {
  font-size: 15px;
  font-weight: 500;

  text-align: left;

  color: var(--title-color);
}

.contact-string .contact-datas th:first-child {
  margin-top: 0;
}

.contact-string  div.contact-datas td {
  color: var(--text-color);
  font-size: 15px;
  font-weight: normal;
}

.contact h2 {
  font-size: 23px;
  text-align: center;
  color: var(--primary-color);
}

/* *
 * *
  WHATSAPP AND INSTAGRAM
  * *
  * */

.contact .contact-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 350px;
}

.contact .contact-button a {
  display: flex;

  width: 100%;
  max-width: 150px;
  height: 40px;

  justify-content: center;
  align-items: center;


  border-radius: 8px;
  text-decoration: none;

  color: #FFF;
  font-weight: bold;
}

.contact .contact-button a:hover{
  opacity: 0.8;
}

.contact .contact-button a:focus{
  opacity: 0.4;
}

.contact .contact-button #btn-whatsapp {
  background: #34CF74;
  /* margin-right: 20px; */
}

.contact .contact-button #btn-instagram {
  background: #AD36D9;
  /* margin-left: 20px; */
}

/* *
 * *
  CAROUSEL
  * *
  * */

.image-carousel {
  height: 425px;
  width: 400px;
  /* margin: 0 10px; */

  display: flex;
  align-items: center;

  position: relative;
}

.image-carousel .btn-left {
  height: 40px;
  width: 40px;

  /* margin-left: -17px; */

  display: flex;
  align-items: center;

  border-radius: 50%;
  color: white;

  position: absolute;
  top: 50%;
  z-index: 5;

  opacity: 0.8;

}

.image-carousel .btn-left:hover {
  background: var(--title-color);
  opacity: 0.5;

  cursor: pointer;
}

.image-carousel .btn-left:active {
  background: var(--primary-color);
  opacity: 1;

  cursor: pointer;
}

.image-carousel .carousel-container ul:first-child {
  height: 425px;
  width: 400px;
}

.image-carousel img {
  height: 100%;
}

.slider-wrapper {
  border-radius: 24px;
}

.carousel-status {
  margin: 15px 15px 0 0;
}

.image-carousel .btn-right {
  height: 40px;
  width: 40px;

  /* margin-right: -18px; */

  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-radius: 50%;
  color: white;

  z-index: 2;
  position: absolute;
  top:50%;
  right: 0;

  opacity: 0.8;
}

.image-carousel .btn-right:hover {
  background: var(--title-color);

  cursor: pointer;
  opacity: 0.5;
}

.image-carousel .btn-right:active {
  background: var(--primary-color);

  cursor: pointer;
  opacity: 1;
}

#main-info hr{
  border: 0.3px solid #C5C5C5;
}

/* *
 * *
  MENU
  * *
  * */

section.company-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 15px 15px 15px;

  /* height: 400px; */
  /* max-height: 400px; */
  justify-content: space-between;
}

.company-menu h3 {
  color: var(--title-color);
  height: 100%;
  max-width: max-content;
  font-size: 18px;

  margin-bottom: 30px;
}

.company-menu div.item {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

}

/* .company-menu div.item button.item-name {
  background: var(--title-color);
  border: 0;

  width: 100%;
  max-width:125px;
  height: 35px;

  border-radius: 8px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.item-name span {
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
}

.item-name svg { */
  /* color: var(--primary-color); */
  /* font-size: 30px; */
/* } */

/* .div-display {
  display: flex;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .25);
}

.div-none {
  display: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
} */

/* .item-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 25px;
  background: #E5E5E5;
  border-radius: 8px;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .25);
} */

div.side-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/**
  * TABLE TAGS
  *
 */
.side-left .table-size {
  max-width: 350px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
}

.side-left .table-size  th {
  color: var(--title-color);
}

.side-left .table-size  td {
  color: var(--text-color);
}

.side-left .table-size  tr {
  display: flex;
  align-items: baseline;
}

.side-left .table-size  tr td:last-child {
  color: var(--primary-color);
}

.side-left .table-size  th,td {
  font-size: 18px;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
}

.side-left .table-size  tr th:nth-child(2) {
  flex-grow: 10;
}

.side-left .table-size  tr th:last-child {
  flex-grow: 5;
}

.side-left .table-size  tr td:nth-child(2) {
  border-bottom: 1px solid var(--text-color);
  flex-grow: 2.5;
}
/**
  * TABLE TAGS -- END
  *
*/

.side-left div.extra {
  display: flex;
  flex-direction: column;
}

.side-left div.extra h3 {
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  color: var(--title-color);
  margin-bottom: 25px;
}

.side-left div.extra div {
  height: 145px;
  max-width: 370px;

  padding: 15px;
  border-radius: 4px;
  background: #FFF;
}

/** LIST OF ITENS **/
div.side-right {
  max-height: 359px;
  padding: 10px 0 5px 30px;
  margin-left: 20px;
  background: #545454;
  border-radius: 4px;
  border: 1px solid var(--primary-color);

  color: #FFF;
  flex-grow: 1.3;

  overflow: auto;
}

.side-right h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.side-right ul {
  list-style: none;
}

.side-right li {
  font-size: 18px;
  margin-bottom: 15px;
}

.side-right::-webkit-scrollbar {
  background: var(--title-color);
}

.side-right::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/** END OF LIST **/

footer {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 35px;
}
