.container-cards {
  display: flex;
}

.container-cards ul {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;

  width: 100%;
  /* max-width: 1345px; */

  max-height: max-content;
  padding: 50px 170px 30px 170px;
}

@media (max-width: 960px) {
  ul {
    align-items: center;
    justify-content: center !important;
    /* transition: 2s; */
  }
}
