div #page-home header {
  width: 100%;
  height: 80px;

  padding: 5px 30px 5px 30px;

  background: var(--primary-color);
  border-bottom: 2px solid var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home header div.menu-home {
  align-items: center;
  display: flex;
}

#page-home header div.menu-home a img {
  height: 100px;
  width: 100px;
  padding-top: 20px;
  margin-right: 25px;
}

#page-home header div.menu-home ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#page-home header div.menu-home ul li {
  margin-left: 20px;
  color: #FFF;
  font-weight: bold;
}

#page-home header div.menu-home ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
}

#page-home header div.menu-home ul li a:hover {
  border-bottom: 3px solid white;
  color: var(--title-color);
  transition: 0.1s;
}

#page-home header div.for-contact a {
  height: 40px;
  width: 110px;
  min-width: 85px;

  padding: 10px;
  border-radius: 8px;

  background: white;

  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);

  text-decoration: none;

  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

#page-home header div.for-contact a:hover {
  background: #fEfEfE;
  box-shadow: none;
}

#page-home section#section-ads {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  border-bottom: 1px solid #C5C5C5;

  font-size: 30px;
  font-weight: bold;


  color: var(--text-color);
  background: var(--container-color);
}

#page-home section#section-ads h4 {
  max-width: 500px;
  text-align: center;
}

#page-home div#div-search {
  display: flex;
  justify-content: left;
  align-items: center;


  height: 100px;
  border-bottom: 1px solid #C5C5C5;
}

#page-home div#div-search form {
  margin-left: 50px;
  width: 520px;
  max-width: 550px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-home div#div-search form button {
  height: 33px;
  width: 33px;
  padding: 5px;

  background: var(--primary-color);
  border: 1px solid var(--container-color);
  border-radius: 8px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

#page-home div#div-search form button:hover {
  box-shadow: none;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

#page-home div#div-search form button svg {
  color: white;
}

#page-home div#div-search form input {
  height: 33px;
  padding-left: 15px;

  background: var(--container-color);

  border: none;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}

#page-home div#div-search form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #BDBDBD;
}

#page-home div#div-search form input:focus {
  border: 1px solid var(--primary-color);
}

#page-home div#div-search form div.select-sort {
  display: flex;
}

#page-home div#div-search form label {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  margin-right: 10px;
}

#page-home div#div-search form select {
  height: 33px;
  padding-right: 8px ;

  background: white;
  color: #828282;
  font-size: 14px;
  font-weight: bold;

  border: 1px solid var(--primary-color);
  border-radius: 8px;

  padding-left: 15px;
}

#page-home div#div-search form select::-webkit-select-placeholder{
  font-size: 14px;
  font-weight: 500;
  color: #BDBDBD;
}

.container-cards {
  display: flex;
}

.container-cards ul {
  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 1;

  width: 100%;
  max-width: 1345px;

  max-height: max-content;
  padding: 50px 120px 30px 120px;
}

.container-cards ul li a {
  text-decoration: none;
}

.container-cards li.each-card {
  width: 300px;
  height: 400px;
  padding: 30px;

  /* margin-right: 50px; */
  margin-bottom: 50px;

  background: var(--container-color);

  border-radius: 8px;
  border: 1px solid var(--primary-color);
  list-style-type: none;

}

.container-cards li.each-card:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

  cursor: pointer;
}

.container-cards li.each-card a {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container-cards .each-card div.card-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cards .each-card .card-company img.logo-company {
  position: absolute;

  margin-top: -130px;
  height: 45px;
  width: 45px;
}

.container-cards .each-card .card-company img.wallpaper-card {
  height: 200px;
  width: 235px;

  border-radius: 8px;
}

.container-cards .each-card .card-company h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  margin-top: 15px;
}

.container-cards .each-card .card-company p {
  align-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 3px;
}

/* .container-cards .each-card .card-informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 700;

  margin-top: 25px;
}

.container-cards .each-card .card-informations p {
  color: var(--text-color);
  margin-bottom: 5px;
}

.container-cards .each-card .card-informations span {
  color: var(--primary-color);
  margin-right: 10px;
} */

.container-cards .each-card #more-info {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  /* width: 110px; */
  min-width: 108px;

  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
  text-align: right;

  margin-bottom: -20px;
  margin-right: -18px;
}

footer {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 35px;
}
