div .main-layout header {
  width: 100%;
  height: 80px;

  padding: 5px 30px 5px 30px;

  background: var(--primary-color);
  border-bottom: 2px solid var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-cards {
  display: flex;
}

.container-cards ul {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;

  width: 100%;
  max-width: 1345px;

  max-height: max-content;
  padding: 50px 170px 30px 170px;
}

/* .container-cards ul li.each-card {
  width: 300px;
  height: 400px;
  padding: 30px;

  display:flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 50px;

  background: var(--container-color);

  border-radius: 8px;
  border: 1px solid var(--primary-color);
  list-style-type: none;

}

.container-cards li.each-card:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);

  cursor: pointer;
} */

.container-cards .each-card div.card-company {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-cards .each-card .card-company img.logo-company {
  position: absolute;
  top: -25px;
  height: 45px;
  width: 45px;
}

.container-cards .each-card .card-company img.wallpaper-card {
  height: 200px;
  width: 235px;

  border-radius: 8px;
}

.container-cards .each-card .card-company h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--title-color);
  margin-top: 15px;
}

.container-cards .each-card .card-company p {
  align-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 3px;
}

/* .container-cards .each-card .card-informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 700;

  margin-top: 25px;
}

.container-cards .each-card .card-informations p {
  color: var(--text-color);
  margin-bottom: 5px;
}

.container-cards .each-card .card-informations span {
  color: var(--primary-color);
  margin-right: 10px;
} */

/* .container-cards .each-card #more-info {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  width: 110px;
  min-width: 108px;

  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
  text-align: right;

  margin-bottom: -20px;
  margin-right: -18px;
} */

footer {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 35px;
}
