:root {
  --primary-color: #A60000;
  --title-color: #333333;
  --text-color: #545454;
  --container-color: #F0F0F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
